---
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from 'astro/components/Image.astro';
---

<BaseLayout showFooter={true} title="Sobre mí">
    <div class="flex justify-center">
        <Image
            src="/images/warrior.png"
            alt="Warrior"
            width={130}
            height={130}
            style="background-color:rgb(102, 56, 121); border-style: solid; box-shadow: 0 0 50px rgba(168, 85, 247, 0.7), 0 0 20px rgba(252, 165, 165, 0.5);"
            class="rounded-3xl mb-10"
        />
    </div>
    <div class="max-w-3xl mx-auto px-5">
        <p class="text-clear">
            Mi nombre es <span class="text-big-letter">Kattherine Mayely Hernandez Sambula</span>, 
            tengo 23 años y soy estudiante por egresar de la carrera de Ingeniería en Sistemas. 
            <br><br>
            Me considero una persona responsable y con gran capacidad de adaptación a distintos entornos y desafíos. 
            Disfruto aprender y crecer tanto personal como profesionalmente, buscando siempre nuevas oportunidades para 
            expandir mis conocimientos y habilidades. Estoy trabajando en desarrollar una habilidad natural para entender 
            las necesidades y preocupaciones de los demás, lo que me ayuda a crear un ambiente de confianza 
            en cualquier interacción. 
            <br><br>
            Además del desarrollo y todo lo relacionado con mi área, soy entusiasta de la psicología y la fotografía. 
            De mis pasatiempos favoritos puedo mencionar el canto, la lectura
            y contemplar la naturaleza. Lo del canto es más que todo en la ducha o cuando estoy sola en casa ja, 
            pero lo disfruto mucho.
            <br><br>
            Me gusta mucho la productividad y constantemente busco maneras de mejorar mi organización 
            personal y profesional. Consumo contenido educativo en plataformas como YouTube, lo que me ha 
            permitido adquirir herramientas para gestionar mi tiempo de manera más eficiente. 
            <br><br>
            Admiro a figuras como el doctor Mario Alonso Puig, un neurocirujano que ahora se enfoca en 
            explorar la conexión entre nuestra mente y cuerpo a través de conferencias y charlas inspiradoras. 
            También sigo de cerca a jóvenes influyentes como Adrià Sola Pastor, quien motiva a otros 
            a través de sus lecciones de vida sobre productividad. 
            <br><br>
            Un dato curioso sobre mí es que, desde la escuela, he asumido responsabilidades relacionadas con 
            la gestión de presupuestos, como en los roles de tesorera y fiscal, además de administrar los 
            presupuestos personales de mis hermanos. 
            <br><br>
            Considero que poseo un perfil administrativo, ya que disfruto planificar, organizar y liderar tanto en mi vida profesional
            como personal. Tengo abertura a explorar nuevas áreas y roles de TI que complementen y potenciem mis habilidades actuales.
            <br><br>
        </p>
    </div>
</BaseLayout>