---
import ContactCard from '../components/ContactCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout showFooter={false} title="Contacto">
    <div class="flex flex-col items-start pr-20 ml-[40%]">
        <div class="text-clear mb-10 mt-10">Contáctame</div>
        <ContactCard src='/images/github.png' alt='Logo Github' text='katerinmayely' href='https://github.com/katerinmayely' target='_blank'></ContactCard>
        <ContactCard src='/images/correo.png' alt='Logo correo' text='katerinmayely@gmail.com' href='mailto:katerinmayely@gmail.com' target=''></ContactCard>
        <ContactCard src='/images/linkedin.png' alt='Logo Linkedin' text='Kattherine Hernandez' href='https://www.linkedin.com/in/kattherine-hernandez-6a1a85275?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BH3qLHQTYQueNavQic%2BX2pQ%3D%3D' target='_blank'></ContactCard>
    </div>
</BaseLayout>