---
import BaseLayout from "../layouts/BaseLayout.astro";
import Presentacion from "../components/Presentacion.astro";
import icons from './data/index_icons.json' assert { type: 'json' };
import TechnologiesBanner from "../components/TechnologiesBanner.astro";
import Subtitle from "../components/Subtitle.astro";
import GridHabilidadesBlandas from "../components/GridHabilidadesBlandas.astro";
import Statistics from "../components/Statistics.astro";
import MyIdeals from "../components/MyIdeals.astro";
---

<BaseLayout showFooter={true} title="Portafolio | Kattherine Hernandez">
	<Presentacion></Presentacion>

	<!-- Sección de habilidades blandas -->
	<div class="max-w-6xl mx-auto my-12 px-5 text-clear">
		<Subtitle
			title="Habilidades Blandas"
			text="Competencias interpersonales que me permiten trabajar efectivamente en equipo y liderar proyectos"
			gradientFrom="purple-400"
			gradientTo="blue-400"
		/>

		<!-- Grid de habilidades -->
		<GridHabilidadesBlandas />

		<!-- Estadísticas o elementos adicionales -->
		<Statistics />
	</div>
	
	<!-- Sección de Habilidades duras -->
	<div class="max-w-6xl mx-auto mt-8 my-5 px-5 text-clear">
		<Subtitle
			title="Stack de Tecnologías"
			text="Herramientas y tecnologías que domino para crear soluciones innovadoras"
			gradientFrom="purple-400"
			gradientTo="blue-400"
		/>

		<div class="space-y-6">
			<TechnologiesBanner title="Lenguajes" items={icons[0]} />
			<TechnologiesBanner title="Frameworks" items={icons[1]} />
			<TechnologiesBanner title="Otras herramientas" items={icons[2]} />
		</div>
	</div>
	
	<!-- Sección de mis ideales -->
	<div class="max-w-6xl mx-auto mt-16 my-5 px-5 text-clear">
		<Subtitle
			title="Mis ideales"
			text="Principios que guían mi vida personal y profesional"
			gradientFrom="purple-400"
			gradientTo="blue-400"
		/>
		<MyIdeals />
	</div>
	
</BaseLayout>