---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Presentacion from "../components/Presentacion.astro";
import CarouselHabilidadesBlandas from "../components/CarouselHabilidadesBlandas.astro";
import ListItemTechnologies from "../components/ListItemTechnologies.astro";
import Footer from "../components/Footer.astro";

const icons = [
	[
		{
			src: "/images/js.png",
			alt: "img js",
			row: 1
		},
		{
			src: "/images/java.png",
			alt: "img java",
			row: 1
		},
		{
			src: "/images/piton.png",
			alt: "img python",
			row: 1
		},
		{
			src: "/images/html-5.png",
			alt: "img html",
			row: 2
		},
		{
			src: "/images/css-3.png",
			alt: "img css",
			row: 2
		},
		{
			src: "/images/sql.png",
			alt: "img sql",
			row: 2
		}
	],
	[],
	[]
]
---

<BaseLayout title="Katt HS">
	<Presentacion></Presentacion>
	<div class="max-w-3xl mx-auto my-5 px-5 text-clear">
		<div class="mb-3">
			<h2 class="text-xl font-bold text-big-letter mb-2 pt-0">Habilidades Blandas</h2>
		</div>
		<CarouselHabilidadesBlandas></CarouselHabilidadesBlandas>
	</div>

	<div class="max-w-3xl mx-auto my-5 px-5 text-clear">
		<div class="mb-3">
			<h2 class="text-xl font-bold text-big-letter mb-2 pt-0">Stack de tecnologías</h2>
		</div>
		<ul class="list-disc pl-5">
			<ListItemTechnologies items={icons[0]} title="Lenguajes de desarrollo"></ListItemTechnologies>
			<li class="text-clear">
				<span>Frameworks de desarrollo</span> 
				<div class="mt-6 flex items-center justify-center gap-x-6 my-2">
					<div>
						<Image
							src="/images/bootstrap.png"
							alt="Logo Bootstrap"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/express.png"
							alt="Logo Express"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/astro.png"
							alt="Logo Astro"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/react.png"
							alt="Logo React"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
				</div>
				<div class="mt-6 flex items-center justify-center gap-x-6 my-2">
					<div>
						<Image
							src="/images/laravel.png"
							alt="Logo Laravel"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/springboot.png"
							alt="Logo Spring boot"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
				</div>
			</li>
			<li class="text-clear">
				<span>Otras herramientas</span> 
				<div class="mt-6 flex items-center justify-center gap-x-6 my-2">
					<div>
						<Image
							src="/images/office.png"
							alt="Logo office"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/virtualbox.png"
							alt="Logo virtualbox"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/linux.png"
							alt="Logo linux"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
					<div>
						<Image
							src="/images/github.png"
							alt="Logo github"
							width={400}
							height={400}
							class="h-20 w-20 px-3 py-2 rounded-full"
							style="border-style: solid; box-shadow: 0 0 1px rgba(168, 85, 247, 0.7), 0 0 2px rgba(252, 165, 165, 0.5);"
						/>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<Footer></Footer>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const carouselItems = document.querySelectorAll('[data-carousel-item]');
        const prevButton = document.querySelector('[data-carousel-prev]');
        const nextButton = document.querySelector('[data-carousel-next]');
        
        let currentIndex = 0;

        // Inicializa el carrusel
        function updateCarousel() {
            carouselItems.forEach((item, index) => {
                item.classList.add('hidden');
                if (index === currentIndex) {
                    item.classList.remove('hidden');
                }
            });
        }

        // Función para ir al siguiente item
        function nextItem() {
            currentIndex = (currentIndex + 1) % carouselItems.length;
            updateCarousel();
        }

        // Función para ir al item anterior
        function prevItem() {
            currentIndex = (currentIndex - 1 + carouselItems.length) % carouselItems.length;
            updateCarousel();
        }

        // Event listeners
        nextButton?.addEventListener('click', nextItem);
        prevButton?.addEventListener('click', prevItem);

        // Inicializa el carrusel al cargar
        updateCarousel();
    });
</script>