---
export interface Props{
    data_carousel: string,
    content: string,
    position: string,
    d:string
}

const {data_carousel, content, position, d} = Astro.props;
---

<button type="button" {...{ [`class="absolute top-0 ${position}-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"`]: true }} {...{ [`data-carousel-${data_carousel}`]: true }}>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={d}/>
        </svg>
        <span class="sr-only">{content}</span>
    </span>
</button>