---
export interface Props {
    title: string,
    text: string
}

const {title, text} = Astro.props;
---

<div class="hidden transition-opacity"  data-carousel-item>
    <section style="box-shadow: 5px 4px 30px rgba(211, 191, 191, 0.781);" class="rounded-lg shadow-md transition-all duration-3">
        <h2 class="text-2xl font-semibold text-light mb-4"><span data-lang="es">{title}</span></h2>
        <p style="height: 150px;" class="text-light-blue overflow-y-auto ">
            {text}
        </p>
    </section>
</div>