---
import CarouselItem from "./CarouselItem.astro"
import CarouselButtomControl from './CarouselButtomControl.astro'
import info from './data.json' assert { type: 'json' };

---
<!-- Carousel starts here -->
<div id="animation-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-150 overflow-hidden rounded-lg md:h-150">
        <!-- Caruosel items -->
        {
            info.map((inf) => (
                <CarouselItem title={inf.title} text={inf.text}></CarouselItem>
            ))
        }
    </div>
    <!-- Slider controls -->
    <CarouselButtomControl data_carousel="prev" content="Previous" position="left" d="M5 1 1 5l4 4"></CarouselButtomControl>
    <CarouselButtomControl data_carousel="next" content="Next" position="right" d="m1 9 4-4-4-4"></CarouselButtomControl>
</div>
<!-- Carousel ends here -->