---
import FooterCard from "./FooterCard.astro"
---

<footer class="flex justify-end flex-row items-center">
    <div style="width: 90%;">
        <div class="max-w-6xl mx-auto mt-16 my-5 px-5 pb-10 text-clear text-center">
            Utiliza la barra de navegación superior para explorar mis proyectos, habilidades y experiencias. ¡Gracias por visitar mi portafolio!
        </div>
    </div>
    <div style="position: right;" class="bg-header-footer-blue mt-10 pt-3 flex items-center flex-col gap-x-6 mt-3 mb-0">
        <FooterCard  href="https://github.com/kattherineh" src="/images/github.svg" alt="Logo Git" target="_blank"/>
        <FooterCard  href="https://www.linkedin.com/in/kattherine-mayely-hernandez-6a1a85275" src="/images/linkedin.png" alt="Logo Linkedin" target="_blank"/>
        <FooterCard  href="mailto:kattherinehernandezs@gmail.com" src="/images/correo.png" alt="Logo Correo" target=""/>
    </div>
</footer>