---
import Image from "astro/components/Image.astro"
---

<div class="flex flex-col-reverse md:flex-row items-center justify-center mb-5 pt-4 pb-10 px-5">
    <Image
        src="/images/perfil.jpg"
        alt="Kattherine Hernandez"
        width={200}
        height={200}
        style="background-color:rgb(102, 56, 121); border-style: solid; box-shadow: 0 0 50px rgba(168, 85, 247, 0.7), 0 0 20px rgba(252, 165, 165, 0.5);"
        class="rounded-3xl mx-auto mb-3 mt-12 border-gradient shadow-lg md:mr-8"
    />
    <div class="h-40 rounded-lg text-clear flex flex-col justify-center max-w-md mx-auto md:ml-8 md:text-left">
        <div class="text-3xl">
            <p>¡Hola!, Soy <span class="text-big-letter">Kattherine Hernandez</span></p>
            <br>
        </div>
        <div class="text-gray-600">
            <p>Breve recordatorio...</p>
        </div>
        <div>
            <p>Cada error es una lección y cada lección te convierte en un guerrero más <span class="text-big-letter">fuerte</span>.</p>
        </div>
    </div>
</div>	
<div class="max-w-3xl mx-auto px-5 text-clear">
    <div class="mb-12">
        <h1 class="text-4xl font-bold text-big-letter mb-2 pt-0">Backend Developer</h1>
        <p class="text-gray-600">Bienvenido(a) a mi portafolio profesional.</p>
        <br>
        <p class="text-lg">
            Me considero una persona empática y social, lo cual me permite conectar fácilmente con otras 
            personas y establecer relaciones profesionales efectivas, 
            algo que considero crucial al momento de negociar con clientes.
        </p>
    </div>
</div>
<div class="flex items-center justify-center gap-x-6">
    <a href="https://drive.google.com/file/d/1GVFEgen7jdgNjIdR4vwOH9oh9WKxpldm/view?usp=sharing" target="_blank" class="text-sm font-semibold leading-6 text-big-letter">
        Más acerca de mí
        <span aria-hidden="true">→</span>
    </a>	
</div>