---
import Image from "astro/components/Image.astro"
---

<div class="flex flex-col-reverse md:flex-row items-center justify-center mb-5 pt-4 pb-10 px-2">
    <Image
        src="/images/perfil2.jpg"
        alt="Kattherine Hernandez"
        width={200}
        height={200}
        style="background-color:rgb(102, 56, 121); border-style: solid; box-shadow: 0 0 20px rgba(168, 85, 247, 0.7), 0 0 20px rgba(252, 165, 165, 0.5);"
        class="rounded-3xl mx-auto mb-3 mt-12 border-gradient shadow-lg md:mr-8"
    />
    <div class="h-40 rounded-lg text-clear flex flex-col justify-center max-w-md mx-auto md:ml-8 md:text-left">
        <div >
            <p class="text-3xl font-preahvihear">Soy <span class="text-big-letter text-3xl mb-4 bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text text-transparent">Kattherine Hernandez</span></p>
            <p>Welcome to my professional portafolio! </p>
            <br>
        </div>
        <div class="text-gray-600">
            <p>Breve recordatorio...</p>
        </div>
        <div>
            <p>Cada error es una lecci贸n y cada lecci贸n te convierte en un guerrero m谩s <span class="text-big-letter">fuerte</span>.</p>
        </div>
    </div>
</div>	
<div class="max-w-4xl mx-auto px-5 text-clear">
    <div class="mb-12">
        <h1 class="text-3xl font-bold bg-gradient-to-r from-purple-400 to-blue-400 bg-clip-text text-transparent">Ingeniera en Sistemas / Desarrolladora de Software</h1>
        <p class="text-gray-600">ltima actualizaci贸n: Octubre 2025</p>
        <br>
        <p class="text-lg text-justify">
            Soy una persona responsable y con gran capacidad de adaptaci贸n a distintos entornos y desaf铆os.
            Disfruto aprender y crecer tanto personal como profesionalmente, buscando siempre nuevas oportunidades para expandir mis conocimientos y habilidades.
        </p>
        <br />
        <p class="text-lg text-justify">
            Soy entusiasta de la psicolog铆a, la fotograf铆a y tambi茅n me gusta cantar.
            Dos de mis mayores fortalezas son la limpieza y la organizaci贸n.
        </p>
        <br />
        <p class="text-lg text-justify">
            En este portafolio, encontrar谩s una recopilaci贸n de mis proyectos y experiencias profesionales.
            Estoy emocionada de compartir mi viaje contigo y espero que encuentres inspiraci贸n en mi trabajo.
        </p>
    </div>
</div>
<div class="flex items-center justify-center gap-x-2">
    <svg class="text-sm font-semibold leading-6 text-big-letter"  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
    <a href="https://drive.google.com/drive/folders/15_XkC9pyL4pCi54DHjgP9I0EseVI5Cmi?usp=sharing" target="_blank" class="text-sm font-semibold leading-6 text-big-letter">
        Mi hoja de vida (Octubre-2025)
    </a>	
</div>
