---
export interface Props {
    title: string
}

const { title} = Astro.props;
---

<div class="text-center mb-16">
    <div class="mb-4">
        <span class="text-lg font-medium text-purple-400 uppercase tracking-wider">
            {title}
        </span>
    </div>
</div>