---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
    title: string,
    showFooter: boolean
}

const { title, showFooter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/images/icono.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <style>
        .border-gradient {
            background: linear-gradient(to right, #6b5b95, #b9fbc0);
            -webkit-background-clip: border-box;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body class="bg-dark-blue font-preahvihear mt-32" >
    <Header/>
    <slot/>
	{showFooter && <Footer></Footer>}
</body>
</html>